<div class="container">
  <div class="container row" style="margin-top: 20px; border: 1px solid #333">
    <div class="mt-2">
      <h3>Avaialble list of Food Items</h3>
    </div>
    <hr />

    <div
      class="row col-md-3 ml-sm-auto col-lg-4 pb-3 px-4"
      *ngFor="let foodItem of foodItems"
    >
      <div
        class="card"
        style="width: 18rem; height: 32rem; text-transform: capitalize"
      >
        <img
          src="{{ foodItem.food_image }}"
          class="card-img-top"
          alt="..."
          style="
            width: 250px;
            height: 250px;
            margin-top: 10px;
            margin-left: 10px;
          "
        />
        <div class="card-body">
          <h5 class="card-title">{{ foodItem.food_description }}</h5>
          <hr />
          <h5 class="card-title">Category : {{ foodItem.category }}</h5>

          <p class="card-text">
            {{ foodItem.food_name }}
          </p>
          <h3>{{ foodItem.price }} $</h3>
          <button class="btn btn-primary" (click)="addToCart(foodItem)">
            Add to Cart
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<br />
